{% extends "walkz/base.html" %}

{% load static %}

{% block content %}
<style>
    .cta {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: linear-gradient(rgb(36, 0, 94), rgba(101, 93, 156, 0.65));
    }
    
    .cta .cta-inner:before {
      border-radius: 0.5rem;
      content: '';
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      border: 0.25rem solid rgba(23, 1, 58);
    }
    
    .footer {
      background-color:rgb(23, 1, 58);
    }
    .cta .cta-inner {
      position: relative;
      padding: 3rem;
      margin: 0.5rem;
      background-color:rgb(23, 1, 58);
      color: cornsilk;
    }
    
    .intro .intro-text {
        left: 600;
        width: 40%;
        margin-top: 3rem;
        background-color:rgb(23, 1, 58);
        color: cornsilk;
        position: absolute;
      }
    
    #mainNav {
      background-color: rgb(23, 1, 58);
      font-family: 'Raleway';
    }
    
      body {
      font-family: 'Lora';
      background: linear-gradient(rgb(36, 0, 94), rgba(134, 122, 209, 0.65)), url("../img/bg_main.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

      .ContenedorFormulario{
        background-color: rgb(23, 1, 58); 
        width: 50%;
        margin: 10px auto;
        border-radius: 5px;
        padding: 1px 0px;
      }
        </style>

<div class="contenedorFormulario">
  
  {% if "valido" in request.GET %}
    <p style="color:white;">Informacion enviada correctamente gracias</p>
  {% endif %}

  <form action="" method="POST" style="text-align: center;">
    {% csrf_token %}
    <table style="color: white; margin: 20px auto;"  > {{miFormulario.as_table}}</table>
    <input type="submit" value="Enviar">
  </form>
</div>



{% endblock %}